body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.flower {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/2917/2917999.png');
    background-size: cover;
    opacity: 0.8;
}

header{
    background-color: #f80e0eb9;
    color: whitesmoke;
    padding: 20px;
}

#productos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap:20px;
    padding:20px;

}

.producto{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.producto img{
    max-width: 90%;
    height: 250px;
}

.producto h3{
    color: #333;

}

.producto p{
    color: #666;

}

.producto:hover{
    transform: scale(1.05);
    transition: transform 0.2s;
}